body{
	padding:0%;
	margin:0%;
}
.bigcontainer{
background-color: blue;
width:70%;
margin-left:15%;
margin-right: 15%;
float:left;
position: relative;
border-radius: 1px;

}
.mam{
	float:left;
	margin:1%;
	position:relative;
}
.image{
	
	height:10%;
	width: 10%;
}
.sp {
	overflow:hidden;
	position:relative;
	top:0px;
	right:0px;
