body {
    background-color: black;
    margin: 0;
    padding: 0;
}
.bigcontainer {
    background-color: blue;
    border-radius: 19px;
    float: left;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    vertical-align: baseline;
    width: 70%;
}
.mam {
    float: left;
    margin: 5%;
    position: relative;
    width: 23%;
    margin-block-start: 3%;
}
.image img {
    width: 100%;
}
.sp img {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.dope {
    text-align: center;
}
