html,
body
{
	margin: 0px;
	padding: 0px;
}
.main
{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #009999;
	float: left;
	position: relative;
	border-radius: 1%;
}

.car
{
	width: 31%;
	float: left;
	margin: 1%;
	position: relative;
}

.image img
{
	width: 100%;
}

.topOffer
{
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: hidden;
}

.topOffer img
{
	position: relative;
	width: 60px;
	height: 60px;
}



