body {
    background-image: url('boom.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 80%;
    margin: 0;
    padding: 0;
}
.bigcontainer {
    background-color: blue;
    border-radius: 19px;
    float: left;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    vertical-align: baseline;
    width: 70%;
}
.mam {
    float: left;
    margin: 5%;
    margin-block-start: 3%;
    position: relative;
    width: 23%;
}
.image img {
    width: 100%;
}
.sp img {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.dope {
    text-align: center;
}
@media screen and (max-width: 1024px) {
.bigcontainer {
    margin: 0px 10%;
    width: 80%;
}
.mam {
    width: 40%;
}
.item .dope {
    font-size: 3vw;
}
}
@media screen and (max-width: 640px) {
.bigcontainer {
    margin: 0px 5%;
    width: 88%;
}
.mam {
    width: 90%;
}
.mam .dope {
    font-size: 5vw;
}
}